/*    PRINCIPALES     */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.main{
    font-family: Archivo, Arial;
    height: 100vh;
    background: linear-gradient(to bottom, #2A475E, #1B2838);
    display: flex;
}




/*     HEADER     */

.header{
    font-family: Lobster, Arial;
    font-size: 20px;
    display: flex;
    background: linear-gradient(to right, #171A21, #272c38, #171A21 );
    color: aliceblue;
    align-items: center;
    justify-content: center;
    height: 50px;
    
}

.iconoLogo{
    width: 40px;
}




/*    CONTENEDOR GENERAL    */

.contenedorGeneral{   
    background-color: #013A60;
    width: 1000px;
    height: 600px;
    margin: 50px 80px;
    border-radius: 10px;

}
#formularioNombreJuego{
    color: aliceblue;
    margin-bottom: 10px;
}
.formularioTitulo{
    color: aliceblue;
    font-size: 20px;
    margin: 10px;
}
.formularioPrecio{
    text-align: center;
    margin: 50px 0px;
}
.calculoImpuestos{
    color: aliceblue;
    text-align: center;
}
.precioFinalTexto{
    font-size: 25px;

}




/*    CONTENEDOR ASIDE    */

.contenedorHistorial{
    background-color: #013A60;
    color: aliceblue;
    width: 450px;
    height: 600px;
    margin: 50px 80px;
    border-radius: 10px;

}

.historial{
    margin: 20px;
}

#busquedasRecientes {
    border: 1.5px solid;
    margin: 10px 0;
}

.busquedasRecientesTitulo{
    font-size: 25px;
    text-align: center;
}